.container {
  max-width: 900px;
  margin: auto;
}

.row {
  display: flex;
  align-items: center;
}

.col-1 {
  width: 8.333333333333333%;
}
.col-2 {
  width: 16.66666666666667%;
}
.col-3 {
  width: 25;
}
.col-4 {
  width: 33.33333333333333%;
}
.col-5 {
  width: 41.66666666666667%;
}
.col-6 {
  width: 50;
}
.col-7 {
  width: 58.333333333333333%;
}
.col-8 {
  width: 66.66666666666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333333333%;
}
.col-11 {
  width: 91.66666666666667%;
}
.col-12 {
  width: 100%;
}

.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
  padding: 10px;
}

@media (max-width: 900px) {
  .col-1,
  .col-10,
  .col-11,
  .col-12,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9 {
    width: 100%;
  }
  .row {
    display: inherit;
  }
}
.producto {
  width: 250px;
  margin: auto;
}
.container p {
  max-width: 450px;
}
h1 {
  margin-top: 40px;
}
