@media (max-width: 600px) {
  body {
    /* background-color: orange; */
  }
  .main_section {
    padding: 4%;
    margin-bottom: 0;
  }
  .main_section h1 {
    font-size: 25px;
  }
  .product {
    margin-top: 10px;
  }
  .products {
    flex-direction: column;
    height: auto;
  }
  .features-container {
    flex-direction: column;
    align-items: center;
  }
  .feature {
    margin: 10px;
  }
  .mention-container {
    flex-direction: column;
    align-items: center;
  }
}
