@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* ----vaiables ----  */
:root {
  --green-color: #7acc2d;
  --white-color: white;
  --black-color: #313337;
  /* --espaciado--  */
  --space: 10px;
  /* --box shadow--  */
  --box: 0px 0 2px 3px #e6e5e9;
}

/* ----Nav Bar ----  */
#nav {
  background-color: var(--green-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}
#nav ul {
  display: flex;
}
#nav ul li {
  margin-left: var(--space);
  list-style: none;
}
#nav a {
  text-decoration: none;
  color: var(--black-color);
}

#nav a:hover {
  color: white;
}

/* MAIN SECTION  */
.main_section {
  padding: 8% 15% 15% 15%;
  text-align: center;
  margin-bottom: 40px;
}
.main_section h1 {
  font-size: 35px;
}
.products {
  background-image: url(/images/curve.png);
  height: 50px;
  background-size: cover;
  background-position: center top;
  padding: 10% 20% 10% 20%;
  display: flex;
  justify-content: center;
}
.product {
  padding: var(--space);
  margin-top: -300px;
  max-width: 350px;
  /* height: 200px; */
}
.product .content {
  background-color: var(--white-color);
  padding: 15px;
  box-shadow: var(--box);
}
.product h1 {
  font-size: 2rem;
}
.img_container {
  text-align: center;
}
.main_button {
  background-color: var(--green-color);
  text-decoration: none;
  width: 100%;
  border: none;
  padding: var(--space);
  font-size: 17px;
  color: white;
  border-radius: 2px;
}
.main_button:hover {
  background-color: #599322;
  cursor: pointer;
}

/* Feactures section  */

.features {
  padding: 10%;
}
.features-container {
  display: flex;
  justify-content: space-evenly;
}
.feature {
  width: 200px;
  /* height: 280px; */
  box-sizing: border-box;
  box-shadow: var(--box);
}
.feature img {
  width: 200px;
  margin-bottom: 10px;
}

/* Mention section  */

.mentions {
  padding: 0% 10% 10% 10%;
}
.mentions h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
}
.mention-container {
  display: flex;
  justify-content: space-between;
}
.mention {
  max-width: 300px;
  margin: 5px;
  box-shadow: var(--box);
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.mention img {
  width: 300px;
  height: 150px;
  margin-bottom: 10px;
}
.mention h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.profile {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
}
.one {
  background-image: url(/images/Mario.jpeg);
}
.two {
  background-image: url(/images/laura.jpg);
}
.three {
  background-image: url(/images/Camila.jpg);
}
.four {
  background-image: url(/images/Jode.jpg);
}

/* FOOTER SECTION  */
footer {
  background-color: var(--black-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer a {
  color: var(--green-color);
}

.copyright span {
  color: white;
  font-weight: bold;
  font-size: 15px;
}
.copyright p,
.email {
  color: white;
}

/* Venta section */

.modulo-pago-form,
.modulo-pago {
  padding: 10px;
  box-shadow: var(--box);
  margin-bottom: 20px;
}
.form-container {
  max-width: 900px;
  margin: auto;
  margin: auto;
  background-color: var(--white-color);
  padding: 10px;
}
/* .modulo-pago {
  max-width: 200px;
} */
.modulo-pago img {
  margin: auto;
  max-width: 200px;
  display: block;
}
.modulo-pago-form .submit {
  border: 1px solid var(--white-color);
  box-sizing: border-box;
  background-color: var(--green-color);
  color: var(--white-color);
  font-size: 20px;
  width: 100%;
  height: 35px;
  padding: 0px;
}
