@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

/* ----vaiables ----  */
:root {
  --green-color: #7acc2d;
  --white-color: white;
  --black-color: #313337;
  /* --espaciado--  */
  --space: 10px;
  /* --box shadow--  */
  --box: 0px 0 2px 1px #e6e5e9;
}

/* ----Nav Bar ----  */
#nav {
  background-color: var(--green-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}
#nav ul {
  display: flex;
}
#nav ul li {
  margin-left: var(--space);
  list-style: none;
}
#nav a {
  text-decoration: none;
  color: var(--black-color);
}

#nav a:hover {
  color: white;
}

/* MAIN SECTION  */
.main_section {
  padding: 20%;
  text-align: center;
}
.main_section h1 {
  font-size: 23px;
}
.products {
  background-image: url(/images/curve.png);
  max-height: 50px;
  background-size: cover;
  background-position: center top;
  padding: 15%;
  display: flex;
}
.product {
  padding: var(--space);
  margin-top: -300px;
}
.product .content {
  background-color: var(--white-color);
  padding: 15px;
  box-shadow: var(--box);
}
.img_container {
  text-align: center;
}
.main_button {
  background-color: var(--green-color);
  text-decoration: none;
  width: 100%;
  border: none;
  padding: var(--space);
  font-size: 17px;
  color: white;
  border-radius: 2px;
}
.main_button:hover {
  background-color: #599322;
  cursor: pointer;
}

/* Feactures section  */

.features {
  padding: 10%;
}
.features-container {
  display: flex;
  /* padding: inherit; */
  justify-content: space-evenly;
}
.feature {
  width: 200px;
  height: 280px;
  border: solid 1px red;
  box-sizing: border-box;
}
.feature img {
  width: 200px;
  margin-bottom: 10px;
}
